<p id="notice"><%= notice %></p>

<h1>School Product Commissions</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Product</th>
      <th>Commission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_product_commissions.each do |school_product_commission| %>
      <tr>
        <td><%= school_product_commission.school %></td>
        <td><%= school_product_commission.product_id %></td>
        <td><%= school_product_commission.commission %></td>
        <td><%= link_to 'Show', school_product_commission %></td>
        <td><%= link_to 'Edit', edit_school_product_commission_path(school_product_commission) %></td>
        <td><%= link_to 'Destroy', school_product_commission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School Product Commission', new_school_product_commission_path %>
